<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
		
		<context:annotation-config/>
		
		<beans:bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
			<beans:property name="cacheSeconds" value="0" />
		</beans:bean>
		
		<tx:annotation-driven transaction-manager="transactionManager"/>
		
		<beans:bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
			<beans:property name="sessionFactory" ref="sessionFactory"/>
		</beans:bean>
		
		<!-- Scan kecuali controller -->
		<context:component-scan base-package="com.vq.webmon">
			<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		</context:component-scan>
		
		<beans:import resource="spring/spring-ds.xml"/>
		<beans:import resource="spring/spring-mail.xml"/>
		<beans:import resource="spring/spring-security.xml"/>
		<beans:import resource="spring/spring-tiles.xml"/>
		
		</beans:beans>